<div class="laptop-card">
    <figure>
        <img src="{&&IMG&&}" alt="image_laptop">
    </figure>
    <h1>{&&TITLE&&}</h1>
    <div class="desc">
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp;{&&CLOCK&&}</p>
        <p><i class="fa fa-desktop" aria-hidden="true"></i> &nbsp;{&&DISPLAY&&}</p>
        <p><i class="fa fa-minus" aria-hidden="true"></i> &nbsp;{&&RAM&&}</p>
       <p><i class="fa fa-cog" aria-hidden="true"></i> &nbsp;{&&WARRENTY&&}</p>
   </div>
    <button onclick="location.href='/laptop?id={&&ID&&}'">Detailed View</button>`;
</div>
                    
